.hero-section{
    background-color: #ffff;
}
.hero-section .btn-group>.btn{
    font-size: 12px;
}
.btn-group>.btn:first-child{
    background-color: #00B48D;
    border: none;
    width: 20px;
}
.btn-group>.btn:last-child{
    background-color: #c5c4c4;
    border: none;
}
.table{
    border-collapse: separate;
    border-spacing: 0 15px;
    border-radius: 10px;
}
.table th{
    font-size: 12px;
    color: #616263;
}
.table>tbody tr {
    border-radius: 10px;
}
.table>tbody tr td{
    padding: 10px;
    font-size: 10px;
    color: #002D6A !important;
}
.table>tbody tr:nth-child(odd){
    background-color:#F0F3F7;
 }
 .table>tbody tr:nth-child(even){
    background-color:#D6E3F4 !important;
 }

 @media (max-width: 450px){
    .hero-section .btn-group>.btn{
        font-size: 8px;
    }
    
 }